body{
  background-color: white;
  font-size: 22px;
  font-family: Arial, sans-serif;
}

.arrow-icon{
  width: 52px;
}

.arrow-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.arrow-mark{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

.revarrow-icon {
  width: 52px;
}

.revarrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.revarrow-mark {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.arrow{
  display: flex;
  flex-direction: row;
}