body{
  background-color: white;
  font-size: 22px;
  font-family: Arial, sans-serif;
}

.menuContainer{
  display: flex;
  flex-wrap: nowrap;
}

.arrow-icon{
  width: 52px;
}


.arrow-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: relative;
  top: 25vh;
}

.arrow-mark{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.revarrow-icon {
  width: 52px;
}

.revarrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: relative;
  top: 25vh;
}

.revarrow-mark {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.arrow-container,
.revarrow-container {
  cursor: pointer;
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
}

.arrow-container-enter, 
.revarrow-container-enter {
  opacity: 0;
  transform: scale(0.9);
}

.arrow-container-enter-active, 
.revarrow-container-enter-active {
  opacity: 1;
  transform: scale(1);
}

.arrow-container-exit, 
.revarrow-container-exit {
  opacity: 1;
  transform: scale(1);
}

.arrow-container-exit-active, 
.revarrow-container-exit-active {
  opacity: 0;
  transform: scale(0.9);
}

.menuContainer{
  display: flex;
  background-color: #000000;
  opacity: 0.2;
  border-radius: 14px;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
}

.menuBar{
  display: flex;
}

.homeBar{
  display: flex;
  color: #000000;
}